.aurora-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.aurora-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}